<?xml version="1.0"?>
<launch>


<arg name="voc" default="/home/lxl/catkin_lxy/src/covins/orb_slam3/Vocabulary/ORBvoc.txt" />
<arg name="cam" default="/home/lxl/catkin_lxy/src/covins/orb_slam3/Examples/Monocular-Inertial/EuRoC.yaml" />


<node pkg="ORB_SLAM3" type="Mono_Inertial" name="ORB_SLAM3_monoi0" args="$(arg voc) $(arg cam)" output="screen" launch-prefix = "gnome-terminal -x gdb -ex run"> 

    <remap from="/camera/image_raw" to="/cam0/image_raw"/>
    <remap from="/imu" to="/imu0"/>

    <!-- <remap from="/camera/image_raw" to="/cam0_0/image_raw"/>
    <remap from="/imu" to="/imu0_0"/> -->

</node>

</launch>
